version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/portfolio_db
      - SPRING_DATASOURCE_USERNAME=UlisesDevs
      - SPRING_DATASOURCE_PASSWORD=182theBeat
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=portfolio_db
      - POSTGRES_USER=UlisesDevs
      - POSTGRES_PASSWORD=182theBeat
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
